@import "tailwindcss";
/* cyrillic */
@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: block;
  src: url('/static/fonts/PixelifySans-cyrillic.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: block;
  src: url('/static/fonts/PixelifySans-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: block;
  src: url('/static/fonts/PixelifySans-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: #101019;
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #cfd3ff;
}

a:hover {
  color: white;
}

.navbar-custom {
  background-color: #101019;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.nav-link-custom {
  color: white;
  margin-right: 10px;
}

.btn-custom {
  background-color: #1F2544;
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  display: inline-block;
}

.btn-custom:hover {
  background-color: #2a3675;
  color: white;
}

.hero h2 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  color: #c6c9e8;
  font-size: 1.1rem !important;
}

.post-card {
  background-color: #1a214d;
  width: 250px; /* IMPORTANT */
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
}

.img-placeholder {
  height: 250px;
  background-color: #d9d9d9;
}

.img-placeholder.tall {
  height: 320px;
}

.card-text {
  padding: 15px;
}

.card-text h5 {
  margin: 0;
  font-size: 1.3rem;
}

.card-text p {
  margin: 5px 0 0;
  color: #8e94c9;
}

.auth-page {
  min-height: 100vh;
}

.form-box {
  background-color: #151c45;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
}

.custom-input {
  background-color: #0d1333;
  border: 1px solid #2d376f;
  color: white;
}

.custom-input::placeholder {
  color: #9aa0d0;
}

.custom-input:focus {
  background-color: #0d1333;
  color: white;
  border-color: #5663b8;
  box-shadow: none;
}

.masonery-grid{
  @apply columns-5 gap-4 space-y-4 p-4;
}