<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LowResGram | Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#101019] text-white min-h-screen flex flex-col">

  {% set active_page = 'feed' %}
  {% include 'navbar.html' %}

  <!-- This is the temporary feed area it has a masonery grip style to it -->
  <div class="columns-[250px] gap-4 p-4 space-y-[48px] hero">
  <!-- Card -->
    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump </h5>
          <p>@user1</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>late night vibes late night vibes </h5>
          <p>@user2</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>fit check</h5>
          <p>@user3</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>blurry but iconic blurry but iconic blurry but iconic blurry but iconic blurry but iconic blurry but iconic </h5>
          <p>@someone</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>moodboard energy moodboard energy </h5>
            <p>@f4scozso</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump </h5>
          <p>@user1</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>fit check</h5>
          <p>@user3</p>
        </div>
    </div>

        <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump </h5>
          <p>@user1</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>late night vibes late night vibes </h5>
          <p>@user2</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>fit check</h5>
          <p>@user3</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>blurry but iconic blurry but iconic blurry but iconic blurry but iconic blurry but iconic blurry but iconic </h5>
          <p>@someone</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>moodboard energy moodboard energy </h5>
            <p>@f4scozso</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump Campus dump </h5>
          <p>@user1</p>
        </div>
    </div>

    <div class="post-card break-inside-avoid mb-4">
        <div class="img-placeholder"></div>
        <div class="card-text">
          <h5>fit check</h5>
          <p>@user3</p>
        </div>
    </div>
  </div>


</body>
</html>