<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LowResGram | Home</title>
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon.svg') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-[#101019] text-white min-h-screen flex flex-col">

  {% set active_page = 'feed' %}
  {% include 'navbar.html' %}

  <!-- Feed Area -->
  <div class="columns-[250px] gap-4 px-6 md:px-16 py-4 space-y-[48px] hero">
    {% for post in pictures %}
    <!-- Card -->
    <div class="break-inside-avoid mb-4">
        {% with pic=post.pic, username=post.username, is_liked=post.is_liked %}
            {% include 'components/picture_card.html' %}
        {% endwith %}
    </div>
    {% endfor %}
    
    {% if not pictures %}
    <div class="text-center text-slate-400 py-10 w-full col-span-full">
        <p>No pictures in the feed yet. Be the first to draw something!</p>
    </div>
    {% endif %}
  </div>

  <script src="{{ url_for('static', filename='js/likes.js') }}"></script>
</body>
</html>
