<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LowResGram | Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


  <section class="grid place-items-center hero flex flex-col">
    <img src="../static/images/logo_image.svg" width="160" height="160" class = "absolute left-[150px] top-[100px]">
    <img src="../static/images/logo_image.svg" width="160" height="160" class = "absolute right-[250px] top-[150px]">
    <img src="../static/images/logo_image.svg" width="160" height="160" class = "absolute left-[200px] bottom-[150px]">
    <img src="../static/images/logo_image.svg" width="160" height="160" class = "absolute right-[150px] bottom-[100px]">


    <img src="../static/images/logo_image.svg" width="160" height="160" class = "pt-[100px]">
    <img src="../static/images/logo_text.svg" width="400" height="50" class = "pt-[25px]">
    <h2  class = "pt-[40px]">Tiny pixels. Big vibes.</h2>
    <div class = "text-2xl">Discover chaotic, low-res content made for Gen Z.</div>
    <a href="{{ url_for('login') }}" class="nav-link-custom pt-[40px] h4">Log in</a>
    <div class = "pt-[5px]">
      <a href="{{ url_for('signup') }}" class="btn-custom h4">Register</a>
    </div>
    
  </section>
</body>
</html>